/*自訂CSS由此開始*/
* {
  box-sizing: border-box;
}

html, body {
  font-family: "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #fff;
  /* background-color: #250060; */
  /* background: linear-gradient(to right, #250060, #070011, #250060); */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  box-sizing: border-box;
}

.wrapper {
  background-color: #fff;
  width: 1024px;
  margin: 0 auto;
  /* height: 700px; */
  /*background-color: #250060;*/
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
}

/* header */
header {
  margin: 30px auto;
  width: 940px;
  /* border: 1px solid goldenrod; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo_desktop {
  margin-right: auto;
}

.mobile {
  display: none;
}

header a {
  text-decoration: none;
  color: #3F5D45;
  font-size: 16px;
  font-weight: 700;
  /* border: 1px solid goldenrod; */
}

header .menu_item {
  margin-right: 80px;
}

/* footer */
footer .container {
  width: 780px;
  margin: 0 auto;
}

.footer_bg_top {
  background-color: #3F5D45;
}

.footer_bg_top h2 {
  color: #EAF0ED;
  font-size: 24px;
}

.footer_bg_top .subscription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer_bg_top .subscription .description {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.footer_bg_top .subscription img {
  padding: 38px 0;
}

.footer_bg_top .subscription h2 {
  margin-left: 20px;
}

.footer_bg_top .input_field {
  margin-left: auto;
  width: 380px;
  position: relative;
}

.footer_bg_top .subscription input[type="text"] {
  width: 100%;
  height: 56px;
  font-size: 24px;
  box-sizing: border-box;
  border: 0;
  padding-left: 64px;
  padding-right: 70px;
  background-color: #EAF0ED;
  color: #3F5D45;
}

.footer_bg_top .subscription .icon_email {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 20px;
  color: #3F5D45;
}

.footer_bg_top .subscription .icon_arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 20px;
  background-color: #FFE180;
  color: #3F5D45;
}

.footer_bg_bottom {
  background-color: #EAF0ED;
}

.footer_bg_bottom .container {
  padding: 30px 0;
  color: #3F5D45;
}

.footer_bg_bottom .contact_info {
  display: grid;
  grid-template-areas: "contact_info_area copyright_area";
}

.footer_bg_bottom .contact {
  grid-area: contact_info_area;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer_bg_bottom .logotype {
  margin-bottom: auto;
  padding-top: 9px;
}

.footer_bg_bottom .copyright {
  grid-area: copyright_area;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer_bg_bottom .contact_msg {
  padding-bottom: 30px;
}

.footer_bg_bottom .contact_msg p {
  font-size: 16px;
  line-height: 24px;
}

.footer_bg_bottom .social_media a {
  margin-right: 8px;
}

.footer_bg_bottom .slogan {
  padding-bottom: 48px;
}

.footer_bg_bottom .copyright_msg p {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 375px) {
  /* header */
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
  }

  header {
    box-sizing: border-box;
    /* margin: 30px auto; */
    /* width: 940px; */
    width: 100%;
    /* border: 1px solid goldenrod; */
    padding: 0 20px;
    /* display: block; */
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  /* footer */
  footer {
    box-sizing: border-box;
    /* border: 1px solid goldenrod; */
  }

  footer .container {
    width: 100%;
  } 

  footer .container {
    width: 100%;
    /* margin: 30px; */
    padding: 30px;
  } 
  
  footer .footer_bg_top .subscription {
    display: grid;
    grid-gap: 30px;
    width: 100%;
  }
  
  footer .footer_bg_top .subscription img {
    padding: 0;
  }
  
  footer .footer_bg_top .subscription h2 {
    /* margin-left: 20px; */
  }
  
  footer .footer_bg_top .input_field {
    /* margin-left: auto; */
    width: 100%;
    /* position: relative; */
    /* margin: 0 30px; */
    /* display: grid; */
    /* grid-template-columns: auto; */
  }
  
  footer .footer_bg_top .subscription input[type="text"] {
    /* margin: 0 30px; */
    /* margin: 0; */
    /* height: 56px; */
    /* font-size: 24px; */
    /* box-sizing: border-box; */
    /* border: 0; */
    /* padding: 0; */
    /* padding-left: 64px; */
    /* padding-right: 70px; */
    /* border: 1px solid goldenrod; */
    /* position: absolute; */
  }
  
  footer .footer_bg_top .subscription .icon_email {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* padding: 16px 20px; */
    /* color: #3F5D45; */
  }
  
  footer .footer_bg_top .subscription .icon_arrow {
    /* position: absolute;
    top: 0;
    right: 0;
    padding: 16px 20px;
    background-color: #FFE180;
    color: #3F5D45; */
  }  


  footer .footer_bg_bottom {
    /* width: 100%; */
    /* box-sizing: border-box; */
    /* background-color: #EAF0ED; */
  }
  
  footer .footer_bg_bottom .container {
    padding: 30px;
    /* color: #3F5D45; */
    /* box-sizing: border-box; */
  }
  
  footer .footer_bg_bottom .contact_info {
    /* display: grid; */
    /* grid-template-areas: "contact_info_area copyright_area"; */
    /* grid-template-areas: unset; */
    /* grid-template-columns: 1fr; */
    /* justify-items: start; */
    /* justify-content: start; */
    /* text-align: left; */
    display: block;
  }
  
  footer .footer_bg_bottom .contact {
    /* grid-area: contact_info_area; */
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    display: block;
  }
  
  .footer_bg_bottom .logotype {
    /* margin-bottom: auto; */
    /* padding-top: 9px; */
    padding-bottom: 30px;
  }
  
  .footer_bg_bottom .copyright {
    /* grid-area: copyright_area; */
    /* display: flex; */
    /* flex-direction: column;
    align-items: flex-end; */
    display: block;
    padding-top: 20px;
  }
  
  .footer_bg_bottom .contact_msg {
    /* padding-bottom: 30px; */
  }
  
  .footer_bg_bottom .contact_msg p {
    /* font-size: 16px; */
    /* line-height: 24px; */
  }
  
  .footer_bg_bottom .social_media a {
    /* margin-right: 8px; */
  }
  
  .footer_bg_bottom .slogan {
    /* padding-bottom: 48px; */
    display: none;
  }
  
  .footer_bg_bottom .copyright_msg p {
    /* font-size: 16px; */
    /* font-family: 'Times New Roman', Times, serif; */
  }
  

}